.footer {
	background: #0e2630;
	color: #fff;
	height: 86px;
	padding: 35px 0;
}


address {
	display: inline-block;
}

address a {
	color: #fff;
}

address:last-child {
	float: right;
}