
@media only screen and (max-width: 640px) {
	.introduce:nth-child(odd) .description {
		float: none;
	}

	.introduce .wrap-image img {
		display: table-cell;
		margin: 0 auto;
	}

	.our-team li {
		float: none;
		list-style: none;
		padding: 0;
		width: 100%;
	}

	.introduce [class*='col-'] {
		padding: 0px;
		width: 100%;
	}

}

@media only screen and (max-width: 768px) {

	.page-wrapper >.row {
		padding: 0 20px;
	}

	#header .navbar-collapse {
		background: #f6f6f6;
	}
	
}

@media only screen and (min-width: 641px) and (orientation: landscape) {
	.introduce .wrap-image img {
		height: auto;
		width: 100%;
	}

	.introduce .wrap-image {
		vertical-align: middle;
	}

}