
body {
	background: #fff;
	padding-top: 70px;
}

.inside {
	max-width: 1024px;
	margin: 0 auto;
}

.page-wrapper p {
	font-size: 15px;
	line-height: 25px;
}

.page-wrapper >.row:nth-child(even) {
	background: #f8f8f8;
}

.page-wrapper h2 {
	margin-top: 0px;
}

.inside >.row {
	padding: 30px 0;
}

.inside .form-control {
	height: 42px;
}

.page-wrapper input,
.page-wrapper textarea {
	font-size: 17px;
}

.inside textarea.form-control {
	height: 230px;
	resize: none;
}

form[class*="col-"],
.inside  {
	float: none;
}

form[class*="col-"] {
	padding: 0px;
}

form .row {
	margin: 0 0 20px 0;
	padding: 0;
}

form .btn {
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 20px;
	padding: 6px 20px; 
}

.page-wrapper .row{
	margin-left: 0px;
	margin-right: 0px;
}

.introduce {
	display: inline-block;
}

.introduce:nth-child(odd) {
	padding-top: 0px;
	padding-bottom: 30px;
}

.introduce:nth-child(even) {
	border-top: 1px solid #ccc;
	padding-top: 30px;
	padding-bottom: 0px;
}

.introduce:nth-child(odd) .description {
	float: right;
}

.our-team {
	display: inline-block;
	padding: 20px 0 0;
	margin: 0;
}

.our-team li {
	float: left;
	list-style: none;
	padding: 0 30px;
	width: 50%;
}

.our-team h3,
.our-team p {
	text-align: center;
}

.page-wrapper .carousel-inner {
	margin: 0 auto;
	width: 80%;
}

.contact-us h3 {
	text-align: center;
}